@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  width: 345px;  /* Fixed width */
  height: auto;
  min-height: 400px; /* Fixed height */
  box-sizing: border-box;
}

.image {
  margin-bottom: 26px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.PlantName{
  font-size: 25px;
  font-weight: 700;
  text-justify:auto;
}
.LightRequirement,.GrowthSpan,.LifeSpan, .Area,  .Benefits, .Care{
  font-size: 14px;
  font-weight: 300;
  padding-left: 0cm;
  line-height: 1.5;
}


